@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BrunoAce";
  src: url("../public/fonts/Bruno_Ace/BrunoAce-Regular.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "PlexMono";
  src: url("../public/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "PlexSerif";
  src: url("../public/fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf");
  font-weight: 100 900;
  font-style: normal;
}

h1 {
  font-family: "BrunoAce";
}

h2,
h3,
h4,
div {
  font-family: "PlexMono";
}

p {
  font-family: "PlexSerif";
}

html body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #060b0e;
}

.clip-triangle {
  clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
}
